.spaceNav {
    margin-top: 180px;
    text-align: center;
}

.spaceNav h1{
    color: #D7D7D7;
    font-size: 60px;
    margin: 0 0 50px 0;
}

.spaceNav a:link{
    color: #333333;
    text-decoration: none;
}
.spaceNav a:visited{
    color: #333333;
}

.spaceNav a:hover{
    opacity: 0.7;;
}
